* {
    margin: 0;
    font-family: 'Open Sans Condensed',sans-serif;
}
html, body {
  height: 100%;
}
.common-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}

.common-container {
    padding-top: 2%;
}

#forLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #222 !important;
}

.common-wrapper:after {
  content: "";
  display: block;
}
.common-footer, .common-wrapper:after {
  height: 50px;
}
.common-footer {
  background: #222;
  color: white;
}

.common-footer #footer {
    line-height: 50px;
}

/** Login Page **/
#login-wrapper {
    margin: -50px auto 0;
    min-height: 80px;
    width: 300px;
}

.common-wrapper #logo {
    margin: 0 auto;
    width: 280px;
}

.common-wrapper #logo > img {
    width: 280px;
}

#login-wrapper #content {
    min-height: 100px;
    margin-top: 10px;
}

/** Navigation **/
header {
    border-bottom: 1px solid #DEDEDE !important;
}
.navbar-brand {
    padding-top: 0px !important;
    height: 60px;
}
.navbar-nav > li > a {
    height: 60px;
    line-height: 30px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
    font-weight: bold;
}
.navbar {
/*    min-height: 90px;*/
    margin-bottom: 10px;
    border-radius: 0px;
}
.navbar-collapse {
/*    margin-top: 2%;*/
}
nav .container {
    padding-top: 15px;
    padding-bottom: 15px;
}
/* Dashboard */
#iconsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
}

#iconsContainer li {
    margin-bottom: 10%;
}

#iconsContainer i {
    margin-bottom: 10%;
}

#iconsContainer span {
    font-size: 2em;
}

/* Game Instructions */
#playMenuContainer {
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #D9D9D9;
    color: #4C4C4C;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px;
}
#playMenuContainer > ul > li > ul > li {
    margin-bottom: 5px;
    margin-top: 5px;
}
#playMenuContainer > .list-inline > li {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Game Page */
#timerContainer {
    zoom: 0.6;
    margin: 30px auto;
    width: 50%;
}

#globalRankingContainer table.table-bordered > tbody > tr > td {
    word-break: break-all;
}

/* Responsive */
@media only screen and (max-width: 991px) {
    #playMenuContainer .btn {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}




